<plugin id="com.scg.crypto" version="0.0.1">
  <name>CordovaCrypt</name>
  <description>
    A sample Apache Cordova plugin that makes cryptographic methods available.
  </description>
  <author email="chad.godsey@systematicgroup.com" href="http://systematicgroup.com">
    Chad Godsey
  </author>
  <js-module src="www/crypto.js" name="AESCrypt">
    <clobbers target="window.AESCrypt" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaCrypt">
        <param name="android-package" value="com.scg.crypto.CordovaCrypt" />
      </feature>
    </config-file>
    <source-file src="src/android/AESCrypt/AESCrypt.java" target-dir="src/com/scottyab/aescrypt" />
    <source-file src="src/android/CordovaCrypt.java" target-dir="src/com/scg/crypto" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    </config-file>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CordovaCrypt">
        <param name="ios-package" value="CordovaCrypt" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>bluetooth-central</string>
      </array>
    </config-file>
    <header-file src="src/ios/CordovaCrypt.h" />
    <source-file src="src/ios/CordovaCrypt.m" />
    <header-file src="src/ios/AESCrypt/AESCrypt.h" />
    <source-file src="src/ios/AESCrypt/AESCrypt.m" />
    <header-file src="src/ios/AESCrypt/NSData+Base64.h" />
    <source-file src="src/ios/AESCrypt/NSData+Base64.m" />
    <header-file src="src/ios/AESCrypt/NSData+CommonCrypto.h" />
    <source-file src="src/ios/AESCrypt/NSData+CommonCrypto.m" />
    <header-file src="src/ios/AESCrypt/NSString+Base64.h" />
    <source-file src="src/ios/AESCrypt/NSString+Base64.m" />
  </platform>
</plugin>
